page-feedback {
    .content {
        background-color: $white;
    } 

    .item-inner {
        border-bottom: none !important;
    }

    p, h2 {
        text-align: center;
        color: $primary;
    }
    
    p {
        font-size: 1.2em;
    }

    ion-item {
        border: 1px solid $secondary !important;
        margin: 10px 0 !important;
    }

}
