<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [@listAnimation]="mappedAppointments.length">
    <ion-list *ngFor="let user of mappedAppointments">
      <ion-card>
        <ion-item (click)="viewUserDetails(user)">
          <ion-avatar class="border-dark" item-start>
            <img [src]="profilePicture(user)" (error)="img.src = getDefaultProfilePic(user)"
            #img alt="profile" class="profile-picture">
          </ion-avatar>
          <h2>{{user.firstname}} {{user.lastname}}</h2>
          <p>
            <i class="fa fa-calendar" item-start></i>
            {{getDateAppointed(user)}}
          </p>
          <i class="fa fa-chevron-right" item-end></i>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ion-card padding text-wrap class="not-found" *ngIf="!mappedAppointments || (mappedAppointments && mappedAppointments.length < 1)">
    <i class="fa fa-4x fa-calendar"></i>
    <p>{{ isRecruiter() ? 'You have not made an appointment' : 'You do not have an appointment yet'}}</p>
  </ion-card>
</ion-content>
