page-change-password {
    .content{
        background-color: $primary !important;
    }
    .brand .logo {
        width: 90px;
    }
    .item-inner {
        border-bottom: none !important;
    }

    .label {
        color: $primary !important;
    }

    p {
        color: $white;
        text-align: center;
        margin: 20px 0;
    }
    .validation p{
        color: $dark !important;
    }
    ion-item {
        border: 1px solid $secondary !important;
        margin: 10px 0 !important;
    }

}
