<ion-header>
  <ion-navbar color="dark">
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="brand">
    <img src="../../assets/imgs/logo_light.svg" alt="Spani logo" class="logo">
  </div>

  <div *ngIf="!passwordConfirmed">
    <p>Please verify your old password</p>
    <ion-list>
      <ion-item>
        <ion-label>Old Password</ion-label>
        <ion-input [(ngModel)]="data.password" required password="password" #password="ngModel"
          pattern=".{6,}" type="password" color="light" class="light">
        </ion-input>
      </ion-item>
      <div [hidden]="password.valid || password.pristine" class="validation">
        <p class="animated tada" [hidden]="!password.hasError('required')">Password is required</p>
        <p class="animated tada" [hidden]="!password.hasError('pattern')">Password must be 6 characters or longer</p>
      </div>
    </ion-list>
    <button ion-button block class="dark border" [disabled]="!password.valid" (click)="confirmPassword()">Continue</button>
  </div>

  <div *ngIf="passwordConfirmed">
    <ion-list>
      <p>Please create a new password</p>
      <ion-item>
        <ion-label>New Password</ion-label>
        <ion-input [(ngModel)]="data.new_password" required newPassword="newPassword" #newPassword="ngModel"
          pattern=".{6,}" type="password" color="light" class="light" >
        </ion-input>
      </ion-item>
      <div [hidden]="newPassword.valid || newPassword.pristine" class="validation">
        <p class="animated tada" [hidden]="!newPassword.hasError('required') && newPassword.hasError('pattern')">Password is required</p>
        <p class="animated tada" [hidden]="newPassword.hasError('required') && !newPassword.hasError('pattern')">Password must be 6 characters or longer</p>
      </div>

      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input [(ngModel)]="data.confirm_password" required confirmPassword="confirmPassword" #confirmPassword="ngModel"
          pattern=".{6,}" type="password" color="light" class="light">
        </ion-input>
      </ion-item>
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="validation">
        <p class="animated tada" [hidden]="!confirmPassword.hasError('required') && confirmPassword.hasError('pattern')">Password is required</p>
      </div>

      <p class="validation animated tada"
        *ngIf="newPassword.valid && !confirmPassword.pristine && data.new_password !== data.confirm_password">
        Passwords do not match
      </p>
    </ion-list>

    <button ion-button block class="dark border" [disabled]="!confirmPassword.valid || !newPassword.valid" (click)="changePassword()">Confirm Password</button>

  </div>

</ion-content>
